/* Index CSS */
.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.flex-container > div {
    text-align: center;
    font-size: 16px;
    flex: auto;
}

.flex-container > div:hover {
    background-color: gray;
}

.flex-container > div > a {
    display: block;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas: '. body .';
}

.grid-body {
    grid-area: body
}

/* Info CSS */
.flex-vertical {
    display: flex;
    flex-direction: column;
    background-color: black; 
    position: fixed;
    width: auto;
    padding-left: 20px;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-right: 20px;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

.flex-vertical > div {
    text-align: left;
    font-size: 16px;
}

.flex-vertical > div > a {
    display: block;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.flex-vertical > div:hover {
    background-color: gray;
}

/* General CSS */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}